@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;700&display=swap');

:root{
  --primary-color: #556d4a;
  --back-shoeW: 105px;
  --side-shoeW: 140px;
  --front-shoeW: 230px;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Oswald', sans-serif;          
  font-size: calc(10px + .5vw);
}

body{
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden !important;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #D9D9D9;
  position: relative;
}

body *{
  transition: color .15s ease;
}

.zoom-gallery{
  position: fixed;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 99;
  display: none;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.zoom-gallery.show{
animation: showGallery .5s ease;
display: grid;
}

.zoom-gallery > div{
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 5% 0;
}

.zoom-gallery > div > img{
  width: min(80%, 590px);
}

.zoom-gallery .gallery-back img{
  width: 50% !important;
}

.zoom-close{
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  list-style: none;
  z-index: 50;
  cursor: pointer;
}

.zoom-close > li{
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #000;
}

.zoom-close > li:first-of-type{
  transform: rotate(45deg);
}

.zoom-close > li:last-of-type{
  transform: rotate(-45deg);
}

@media (min-width: 768px){
  :root{
    --back-shoeW: 127.8px;
    --side-shoeW: 170.4px;
    --front-shoeW: 280px;
  }
}

@media (min-width: 769px){
  .zoom-gallery{
    width: calc(100vw - 37px);
    grid-template-columns: repeat(2, 1fr);
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .zoom-gallery::-webkit-scrollbar{
    display: none;
  }
}

@keyframes showGallery{
    0% {
      opacity: .2;
    }
    100% {
      opacity: 1;
    }
}